{extend name="Common:base" /}
{block name="main"}
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">{$page_title}</h3>
	</div>
	<div class="panel-body">
		<form class="form-horizontal" action="{:url('update')}" method="post" id="myForm" enctype="multipart/form-data">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#base" aria-controls="base" role="tab" data-toggle="tab">常规选项</a></li>
				<li role="presentation"><a href="#advance" aria-controls="advance" role="tab" data-toggle="tab">高级选项</a></li>
				<li role="presentation"><a href="#content" aria-controls="content" role="tab" data-toggle="tab">栏目内容</a></li>
			</ul>

			<div class="tab-content">
				<div class="tab-pane active" id="base">
					{eq name="pid" value="0"}
					<div class="form-group">
						<label class="col-sm-3 control-label"><strong class="text-danger">*</strong> 内容模型：</label>
						<div class="col-sm-6">
							<select class="form-control" name="type">
								<option value="article" {present name="data"}{eq name="data.type" value="article"}selected{/eq}{/present}>普通文章</option>
								<option value="linkstore" {present name="data"}{eq name="data.type" value="linkstore"}selected{/eq}{/present}>连锁机构</option>
								<option value="service" {present name="data"}{eq name="data.type" value="service"}selected{/eq}{/present}>服务科室</option>
								<option value="team" {present name="data"}{eq name="data.type" value="team"}selected{/eq}{/present}>医疗团队</option>
							</select>
						</div>
					</div>
					{notpresent name="data"}
					<div class="form-group">
						<label class="col-sm-3 control-label"><strong class="text-danger">*</strong> 上级栏目：</label>
						<div class="col-sm-6">
							<select class="form-control" name="parent_id">
								<option value="0">≡ 作为一级栏目 ≡</option>
								{present name="allCate"}
								{volist name="allCate" id="vo"}
								<option value="{$vo.id}" {present name="data"}{eq name="vo.id" value="$data.parent_id"}selected{/eq}{/present}>{$vo.html}{$vo.name}</option>
								{/volist}
								{/present}
							</select>
						</div>
					</div>
					{/notpresent}
					{else/}
					<div class="form-group">
						<label class="col-sm-3 control-label"><strong class="text-danger">*</strong> 上级栏目：</label>
						<div class="col-sm-6 form-control-static">{$pcate.name}</div>
					</div>
					{/eq}
					<div class="form-group">
						<label class="col-sm-3 control-label"><strong class="text-danger">*</strong> 栏目标题：</label>
						<div class="col-sm-6">
							<input type="text" name="name" class="form-control" value="{$data.name|default=''}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"><strong class="text-danger">*</strong> 栏目英文标题：</label>
						<div class="col-sm-6">
							<input type="text" name="name_en" class="form-control" value="{$data.name_en|default=''}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label"> 栏目图片：</label>
						<div class="col-sm-6">
							{Form:image name="thumb" value="$data.thumb"/}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">排序：</label>
						<div class="col-sm-3">
							<input type="text" name="listorder" class="form-control" value="{$data.listorder|default='100'}">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">是否隐藏栏目：</label>
						<div class="col-sm-6">
							<label class="radio-inline">
								<input type="radio" name="is_display" value="1" {present name="data"}{eq name="data.is_focus" value="1"}checked{/eq}{else/}checked{/present}>
								显示
							</label>
							<label class="radio-inline">
								<input type="radio" name="is_display" value="0" {present name="data"}{eq name="data.is_focus" value="0"}checked{/eq}{/present}>
								隐藏
							</label>
						</div>
					</div>
				</div>
                <div class="tab-pane" id="advance">
                    <div class="template"></div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">SEO标题：</label>
                        <div class="col-sm-6">
                            <input type="text" name="seo_title" class="form-control" value="{$data.seo_title|default=''}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">关键字：</label>
                        <div class="col-sm-6">
                            <input type="text" name="seo_keywords" class="form-control" value="{$data.seo_keywords|default=''}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">栏目描述：</label>
                        <div class="col-sm-6">
                            <textarea name="seo_description" class="form-control">{$data.seo_description|default=''}</textarea>
                        </div>
                    </div>
                </div>
				<div class="tab-pane" id="content">
					<div class="alert alert-warning">说明：栏目内容是栏目单独页的一种方式，通常用于企业简介之类的用途。</div>
					<div class="form-group">
						<div class="col-sm-12">
						{Form:editor name="content"}{$data.content|default=''}{/Form:editor}
						</div>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label"></label>
				<div class="col-sm-6">
					{present name="data"}
					<input type="hidden" name="id" value="{$data.id}">
					{/present}
					<input type="hidden" name="gourl" value="{$Think.server.http_referer}">
					<input type="hidden" name="parent_id" value="{$pid}">
					<button type="submit" class="btn btn-primary" form="myForm">确定</button>
				</div>
			</div>	
		</form>
	</div>
</div>
<script id="template" type="text/html">
    <div class="form-group">
        <label class="col-sm-3 control-label">栏目属性：</label>
        <div class="col-sm-6">
            <label class="radio-inline">
                <input type="radio" name="is_page" value="0" {present name="data"}{eq name="data.is_page" value="0"}checked{/eq}{else/}checked{/present}>
                最终列表栏目（允许在本栏目发布文档，并生成文档列表）
            </label>
            <div class="clearfix"></div>
            <label class="radio-inline">
                <input type="radio" name="is_page" value="1" {present name="data"}{eq name="data.is_page" value="1"}checked{/eq}{/present}>
                频道封面（栏目本身不允许发布文档）
            </label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label">封面模板：</label>
        <div class="col-sm-6">
            <input type="text" name="index_template" class="form-control" value="{$data.index_template|default='index_article'}">
        </div>
    </div>
</script>
<script type="text/javascript" src="__PLUGS__/tmodjs.js"></script>
<script>
    function toggleTemp(){
        if($('select[name="type"]').val()=='article'){
            $('.template').html(template('template',{}));
        }else{
            $('.template').html('');
        }
    }
    $(document).ready(function(){
        toggleTemp();
        $('select[name="type"]').change(function(){
            toggleTemp();
        })
    })
</script>
{/block}