{extend name="Common:base" /}
{block name='class'}list_linkstore{/block}
{block name='body'}
<header>
	<div class="header">
		<div class="nav-left">
			<a class="back" href="{:url('Index/index')}"></a>
		</div>
		<div class="header-title">{$topcate.name}</div>
	</div>
</header>
{notempty name="subcate"}
<div class="nav">
	<div class="nav-list">
		<div class="nav-wrap">
			{volist name="subcate" id="vo"}
			<a class="nav-item {eq name='vo.id' value='$Request.param.cid'}active{/eq}" href="{:url('lists',['cid'=>$vo.id])}">{$vo.name}</a>
			{/volist}
		</div>
	</div>
</div>
{/notempty}
<div class="inner-list">
	{volist name="lists" id="vo"}
	<div class="item">
		<a href="{:url('info',['id'=>$vo.id])}" class="item-img"><img src="{$vo.thumb}"></a>
		<div class="item-cont">
			<a class="title" href="{:url('info',['id'=>$vo.id])}">{$vo.title}</a>
			<div class="info">
				<p>服务项目：{$vo.service}</p>
				<p>预约电话：{$vo.tel}</p>
				<p>地&emsp;&emsp;址：{$vo.address}</p>
			</div>
		</div>
	</div>
	{/volist}
	<div class="pageview">{$page}</div>
</div>
<script>
	$(document).ready(function(){
	    $('.nav-wrap').width(9*$('.nav-item').size()+"rem");
	})
</script>
{/block}