<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>思众健康 - 后台管理</title>
	<link rel="stylesheet" href="__ALT__/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="__ALT__/plugins/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="__ALT__/plugins/Ionicons/css/ionicons.min.css">
	<link rel="stylesheet" href="__ALT__/dist/css/AdminLTE.min.css">
	<link rel="stylesheet" href="__ALT__/dist/css/skins/_all-skins.min.css">
	<link type="text/css" rel="stylesheet" href="__PLUGS__/fancySelect/fancySelect.css"/>
	<script src="__ALT__/plugins/jquery/dist/jquery.js"></script>
	<script type="text/javascript" src="__PLUGS__/fancySelect/fancySelect.js"></script>
	<script src="__ALT__/plugins/jquery-ui/jquery-ui.min.js"></script>
	<link rel="stylesheet" type="text/css" href="__CSS__/css.css" media="all">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	<div class="main-header">
		<a href="{:url('index')}" class="logo">
			<span class="logo-mini">后台</span>
			<span class="logo-lg">思众健康</span>
		</a>
		<div class="navbar navbar-static-top">
			<a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
				<span class="sr-only"></span>
			</a>
			<div class="navbar-custom-menu">
				<ul class="nav navbar-nav">
					<!--管理员-->
					<li class="dropdown user user-menu">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							<img src="__IMG__/face.png" class="user-image" alt="User Image">
							<span class="hidden-xs">{$session.real_name}</span>
						</a>
						<ul class="dropdown-menu">
							<!-- User image -->
							<li class="user-header">
								<img src="__IMG__/face.png" class="img-circle" alt="User Image">
								<p>
									{$session.real_name}
									<small>ID:{$session.id}</small>
								</p>
							</li>
							<li class="user-footer">
								<div class="pull-left">
									<a href="{:url('Shop/modify_password')}" class="btn btn-default btn-flat">修改密码</a>
								</div>
								<div class="pull-right">
									<a href="{:url('Common/logout')}" class="btn btn-default btn-flat">退出</a>
								</div>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!--菜单-->
	<div class="main-sidebar">
		<section class="sidebar">
			<!--管理员-->
			<div class="user-panel">
				<div class="pull-left image">
					<img src="__IMG__/face.png" class="img-circle" alt="User Image">
				</div>
				<div class="pull-left info">
					<p>{$session.real_name}</p>
					<a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
				</div>
			</div>
			<!--菜单导航-->
			<ul class="sidebar-menu" data-widget="tree">
				<li class="header">管理菜单</li>
				<li><a href="{:url('Index/index')}"><i class="fa fa-home"></i> <span>后台首页</span></a></li>
				{volist name="menu" id="vo"}
				<li class="treeview {in name='vo.id' value='$arr_parent_id'}active{/in}">
					<a href="#">
						<i class="fa  fa-th-large"></i> <span>{$vo.node_name}</span>
						<span class="pull-right-container">
							<i class="fa fa-angle-left pull-right"></i>
						</span>
					</a>
					{present name="vo.child"}
					<ul class="treeview-menu">
						{volist name="vo.child" id="sub"}
						<li {in name='sub.id' value='$arr_parent_id'}class="active"{/in} ><a href="{$sub.url}"><i class="fa fa-circle-o {in name='sub.id' value='$arr_parent_id'}text-red{/in}"></i>{$sub.node_name}</a></li>
						{/volist}
					</ul>
					{/present}
				</li>
				{/volist}
			</ul>
		</section>
	</div>
	<div class="content-wrapper">
		<div class="content-header">
			<h1>
				{$page_title|default="后台管理"}
			</h1>
			{notempty name="bread"}
			<ol class="breadcrumb">
				{volist name="bread" id="vo"}
				<li><a href="{$vo.url}"><!--<i class="fa fa-dashboard"></i>--> {$vo.node_name}</a></li>
				{/volist}
			</ol>
			{/notempty}
		</div>
		<!--内容-->
		<div class="content">
			{block name="main"}{/block}
		</div>
	</div>

	<div class="main-footer">
		<strong>{$copyright}</strong>
	</div>
</div>
<!-- 模态框 -->
<script type="text/javascript">
    $(document).ready(function(){
        $('#addForm').on('show.bs.modal', function (event) {
            var flag=true;
            var button = $(event.relatedTarget);
            var url=button.data('href');
            $.ajax({
                url:url,
                async:false,
                success:function(data){
                    if(data.code==0){
                        alert(data.msg);
                        flag=false;
                    }else{
                        $('.modal-content').html(data);
                    }
                }
            });
            return flag;
        })

        //form表单提交
        $('.ajaxSubmit').click(function(){
            var that=this;
            var value=$(this).html();
            $(this).html('正在提交').attr('disabled','disabled');
            $.ajax({
                type: $(this).parents('form').attr('method'),
                url:  $(this).parents('form').attr('action'),
                data: $(this).parents('form').serialize(),
                success: function(ret) {
                    $(that).html(value).removeAttr('disabled');
                    if(ret.code==1){
                        alert(ret.msg);
                        window.location.href=ret.url;
                    }else{
                        alert(ret.msg);
                    }
                },
				error:function(ret){
                    $(that).html(value).removeAttr('disabled');
                    alert('系统错误');
				}
            });
            return false;
        })
        $('.breadcrumb li:last-child').addClass('active').html($('.breadcrumb li:last-child a').html());
    })
</script>
<div class="modal fade" id="addForm" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">

		</div>
	</div>
</div>
</body>
<script>
    $.widget.bridge('uibutton', $.ui.button);
</script>
<script src="__ALT__/bootstrap/js/bootstrap.min.js"></script>
<script src="__ALT__/plugins/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="__ALT__/plugins/fastclick/lib/fastclick.js"></script>
<script src="__ALT__/plugins/moment/min/moment.min.js"></script>
<script src="__ALT__/dist/js/adminlte.min.js"></script>

{block name="script"}{/block}
</html>