{extend name="Common:base" /}
{block name="main"}
<div class="alert alert-info" role="alert">
	<h5>密码修改说明</h5>
	<p>1.密码为6-16位数字、字母、下划线（_）及破折号（-）</p>
</div>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">修改密码</h3>
	</div>
	<div class="panel-body">
		<form method="post"  action="{:url('modify_password')}" class="form-horizontal" autocomplete="off">
			<div class="clear20"></div>
			<div class="form-group">
				<label class="control-label col-sm-3"><strong class="text-danger">*</strong> 旧密码：</label>
				<div class="col-sm-3">
					<input type="password" name="org_password" class="form-control" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3"><strong class="text-danger">*</strong> 新密码：</label>
				<div class="col-sm-3">
					<input type="password" name="password" class="form-control" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3"><strong class="text-danger">*</strong> 确认密码：</label>
				<div class="col-sm-3">
					<input type="password" name="repassword" class="form-control" value="">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-sm-3"></label>
				<div class="col-sm-3">
					<button type="submit" class="btn btn-primary">确定</button>
				</div>
			</div>
		</form>
	</div>
</div>
{/block}