{extend name="Common:base" /}
{block name="main"}
	<div class="form-group">
		<a href="{:url('add_role')}" class="btn btn-danger btn-sm">
			<span class="glyphicon glyphicon-plus"></span> 
			新增角色
		</a>
	</div>
	
	<div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>角色名称</th>
						<th>状态</th>
						<th>创建时间</th>
						<th class="text-right">操作</th>
					</tr>
				</thead>
				<tbody>
					{notempty name="data"}
					{volist name="data" id="role"}
					<tr>
						<td>{$role.role_name}</td>
						<td>
							{$role.status|yes_or_no}
						</td>
						<td>{$role.create_time|date="Y-m-d H:i",###}</td>
						<td class="text-right">
							<a href="{:url('set_role_node',array('id'=>$role['id']))}">设置角色权限</a>
							<a href="{:url('edit_role',array('id'=>$role['id']))}">编辑</a>
							<a href="{:url('del_role',array('id'=>$role['id']))}" onclick="javascript:return confirm('确定要删除该记录？');">删除</a>
						</td>
					</tr>
					{/volist}
					{/notempty}
				</tbody>
			</table>
		</div>
	</div>
{/block}