<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection" content="telephone=no"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>{block name="title"}思众健康{/block}</title>
	<script type="text/javascript" src="__PLUGS__/jquery-1.10.2.min.js"></script>
	<script type="text/javascript" src="__JS__/common.js"></script>
	<link rel="stylesheet" type="text/css" href="__PLUGS__/core/core.css">
	<script type="text/javascript" src="__PLUGS__/core/core.js"></script>
	{block name="script"}{/block}
	<link rel="stylesheet" type="text/css" href="__CSS__/mobile.css">
</head>
<body class="{block name='class'}{/block}">
{block name="body"}{/block}

<footer>
	<p>{$config.copyright}</p>
	<p><a href="http://www.miitbeian.gov.cn">湘ICP备17000762号</a></p>
	<p>地址：{$config.address}</p>
	<p>电话：{$config.hot_tel}</p>
</footer>
</body>
</html>
