{extend name="Common:base" /}
{block name="main"}
<form method="post" id="myForm" action="{:url('update_reply')}" class="form-horizontal" enctype="multipart/form-data" autocomplete="off">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">回复规则</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">回复规则名称：</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="title" value="{$data.title|default=''}">
					<span class="help-block">您可以给这条规则起一个名字, 方便下次修改和查看. </span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">触发关键词：</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="keywords" value="{$data.keywords|default=''}">
					<span class="help-block">当用户的对话内容符合以上的关键字定义时，会触发这个回复定义. </span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">状态：</label>
				<div class="col-sm-6">
					<label class="radio-inline">
						<input name="status" value="1" type="radio" {present name="data"}{eq name="data.status" value="1"}checked{/eq}{else/}checked{/present}>
						启用
					</label>
					<label class="radio-inline">
						<input name="status" value="0" type="radio" {present name="data"}{eq name="data.status" value="0"}checked{/eq}{/present}>
						禁用
					</label>
					<span class="help-block">您可以临时禁用这条回复.</span>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">优先级：</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" name="listorder" value="{$data.listorder|default='100'}">
					<span class="help-block">数字越小越靠前，最大不得超过254. </span>
				</div>
			</div>
		</div>
	</div>
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">回复内容</h3>
		</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-3 control-label">回复内容：</label>
				<div class="col-sm-6">
					<textarea name="text[content]" class="form-control" placeholder="添加要回复的内容" rows="6">{$data.text.content|default=''}</textarea>
				</div>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-12">
			{notempty name="data"}
			<input type="hidden" name="id" value="{$data.id}">
			{/notempty}
			<input type="hidden" name="type" value="text">
			<button type="submit" class="btn btn-primary">确&emsp;定</button>
		</div>
	</div>
</form>
{/block}