{extend name="Common/base"/}
{block name="main"}
	<div class="form-group">
		<a class="btn btn-danger btn-sm" href="{:url('add_customer')}">
			<span class="glyphicon glyphicon-plus"></span>
			<span>新增</span>
		</a>
	</div>
	<div class="panel panel-default">
		<div class="panel-body">
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th class="text-left">客服编号</th>
						<th class="text-left">客服头像</th>
						<th class="text-left">客服帐号</th>
						<th class="text-left">客服昵称</th>
						<th class="text-left">客服微信号</th>
						<th class="text-left">状态</th>
						<th class="text-right" width="120">操作</th>
					</tr>
				</thead>
				<tbody>
					{volist name="data" id="vo"}
					<tr>
						<td>{$vo.kf_id}</td>
						<td>{notempty name="vo.kf_headimgurl"}<img src="{$vo.kf_headimgurl}" style="height:80px;">{/notempty}</td>
						<td>{$vo.kf_account}</td>
						<td>{$vo.kf_nick}</td>
						<td>
							{present name="vo.kf_wx"}
							{$vo.kf_wx}
							{/present}
							{present name="vo.invite_wx"}
							{$vo.invite_wx}
							{/present}
						</td>
						<td>
							{present name="vo.invite_status"}
							{eq name="vo.invite_status" value="waiting"}等待确认{/eq}
							{eq name="vo.invite_status" value="rejected"}已拒绝{/eq}
							{eq name="vo.invite_status" value="expired"}过期{/eq}
							{/present}
							{present name="vo.kf_wx"}正常{/present}
						</td>
						<td class="text-right">
							<a href="{:url('edit_customer',['account'=>$vo.kf_account])}">修改</a>&nbsp;
							<a href="{:url('del_customer',['account'=>$vo.kf_account])}" onclick="javascript:return confirm('确定要删除该记录？');">删除</a>
						</td>
					</tr>
					{/volist}
				</tbody>
			</table>
		</div>
	</div>
{/block}